{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block extra_scripts %}
<script src="{% static 'shop/scripts/checkout.js' %}" defer></script>
{% endblock %}
{% block content %}
<form method="POST" class="d-flex flex-column gap-2">
  <h1>Checkout</h1>
  <div class="form-floating">
    <input type="text" class="form-control" name="first_name" placeholder="First name">
    <label for="first_name">First name</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" name="last_name" placeholder="Last name">
    <label for="last_name">Last name</label>
  </div>
  <div class="form-floating">
    <input type="email" class="form-control" name="email" placeholder="email">
    <label for="email">Email</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control">
    <label for=""></label>
  </div>
  <div id="items">
  </div>
  <input type="submit" class="btn btn-primary" value="Checkout">
</form>
{% endblock %}
