{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block content %}
<form method="POST" class="d-flex flex-column gap-2">
  <h1>Checkout</h1>
  {% csrf_token %}
  {% if form.name.errors %}
  {% for error in form.name.errors %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
  {% endif %}
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      name="{{ form.first_name.name }}"
      id="{{ form.first_name.id_for_label }}"
      placeholder="First name"
    />
    <label for="{{ form.first_name.id_for_label }}">First name</label>
  </div>
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      name="{{ form.last_name.name }}"
      id="{{ form.last_name.id_for_label }}"
      placeholder="Last name"
    />
    <label for="{{ form.last_name.id_for_label }}">Last name</label>
  </div>
  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      name="{{ form.email.name }}"
      id="{{ form.email.id_for_label }}"
      placeholder="Email"
    />
    <label for="{{ form.email.id_for_label }}">Email</label>
  </div>
  <input type="submit" class="btn btn-primary" value="Checkout">
</form>
{% if cart_items %}
<h2 class="my-3">Cart</h2>
<div class="my-3 d-flex flex-column gap-3">
  {% for item in cart_items %}
  <div class="d-flex gap-3 p-3 justify-content-between align-items-center border rounded">
    <div>
      <h3>{{ item.name }}</h3>
      <span>{{ item.description|truncatechars:100 }}</span>
    </div>
    <form action="{% url 'cart-remove' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="item_id" value="{{ item.id }}"/>
      <button type="submit" class="btn btn-link">
        <img height="30" fill="red" style="fill: red" src="{% static 'shop/images/bi-trash.svg' %}"/>
      </button>
    </form>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
