{% extends 'shop/base.html' %}
{% block title %}Checkout{% endblock %}
{% block content %}
<form method="POST" class="d-flex flex-column gap-2">
  <h1>Checkout</h1>
  {% csrf_token %}
  {% if form.name.errors %}
  {% for error in form.name.errors %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
  {% endif %}
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      name="{{ form.first_name.name }}"
      id="{{ form.first_name.id_for_label }}"
      placeholder="First name"
    />
    <label for="{{ form.first_name.id_for_label }}">First name</label>
  </div>
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      name="{{ form.last_name.name }}"
      id="{{ form.last_name.id_for_label }}"
      placeholder="Last name"
    />
    <label for="{{ form.last_name.id_for_label }}">Last name</label>
  </div>
  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      name="{{ form.email.name }}"
      id="{{ form.email.id_for_label }}"
      placeholder="Email"
    />
    <label for="{{ form.email.id_for_label }}">Email</label>
  </div>
  <input type="submit" class="btn btn-primary" value="Checkout">
</form>
{% if cart_items %}
<div class="my-3 d-flex flex-column gap-3">
  {% for item in cart_items %}
  <li>{{ item.name }}</li>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
